:root {
  --rosa: #FF74E9;
  --amarillo: #FFF84F;
  --azul: #2F0DFF;
  --morado: #9745FF;
  --font-h1: ;
  --font-p: "neue_montrealmedium";
  --color-p: white;
  --color-nav: #FF74E9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --fondo-blanco: black;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-p);
  color: var(--color-p);
}

.header {
  background-color: var(--amarillo);
  padding: 2rem 0;
  color: var(--rosa);
}
.header__wrapper {
  width: 90%;
  background-color: aqua;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__datos {
  width: 40%;
  background-color: coral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__pais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 0 10%;
  background-color: deepskyblue;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__a {
  margin: 0 0 0 2rem;
}

.blanca {
  background-color: var(--amarillo);
}
.blanca__move {
  width: 200%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
}
.blanca__hgroup {
  width: 90%;
  background-color: deeppink;
  padding: 2rem 0;
}
.blanca__h2 {
  font-size: 9em;
  background-color: cornflowerblue;
  color: var(--rosa);
}
.blanca__span {
  width: 10px;
  height: 10px;
  background-color: var(--rosa);
  border-radius: 50%;
}

.amarillo {
  width: 100%;
  background-color: var(--amarillo);
}
.amarillo__wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  position: relative;
}
.amarillo__img {
  width: 1000px;
  height: 1000px;
  background-color: lightpink;
  position: absolute;
  top: 0;
  opacity: 0;
}
.amarillo__img.static {
  position: static;
}
.amarillo__img.activo {
  opacity: 1;
}
.amarillo__face {
  width: 10rem;
  position: absolute;
  right: 0;
  top: 0;
  color: black;
}
.amarillo__ul {
  background-color: deeppink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.amarillo__dato {
  padding: 0.8rem 3rem 0.5rem 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: azure;
}
.amarillo__dato.works {
  background-color: var(--morado);
}
.amarillo__dato.about {
  background-color: var(--rosa);
}
.amarillo__bloque {
  padding: 2rem;
}
.amarillo__bloque.works {
  background-color: var(--morado);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}
.amarillo__bloque.about {
  background-color: var(--rosa);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.amarillo__bloque .about__p {
  width: 50%;
  line-height: 1.4rem;
  padding: 2rem;
}
.amarillo__bloque .about__img {
  background-color: aqua;
  width: 50%;
  height: 30rem;
}
.amarillo__bloque .works__img {
  width: 20rem;
  height: 20rem;
  background-color: black;
}
.amarillo__bloque .works__h2 {
  margin: 1rem 0 0 0;
}
.footer {
  background-color: var(--amarillo);
}
.footer__wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  background-color: var(--azul);
  padding: 2rem 0;
}
.footer__work {
  text-transform: uppercase;
  font-size: 4em;
  text-align: right;
  width: 90%;
  margin: auto;
}
.footer__linea {
  height: 2px;
  width: 90%;
  margin: auto;
  background-color: white;
}
.footer__idea {
  text-transform: uppercase;
  font-size: 4em;
  text-align: left;
  width: 90%;
  margin: auto;
}
.footer__email {
  margin: 3rem;
  width: 20%;
  font-size: 10em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: aquamarine;
}
.footer__rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3rem 0 0;
}
.footer__rs {
  margin: 0 1rem;
}