:root {
  --rosa: #FF74E9;
  --amarillo: #FFF84F;
  --azul: #2F0DFF;
  --morado: #9745FF;
  --font-h1: ;
  --font-p: "neue_montrealregular";
  --color-p: white;
  --color-nav: #FF74E9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --fondo-blanco: black;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-p);
  color: var(--color-p);
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes imageFade {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageFade {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: var(--amarillo);
}

.header {
  font-family: "neue_montrealmedium";
  padding: 4rem 0;
  color: var(--rosa);
  font-size: 2em;
}
@media screen and (max-width: 1743px) {
  .header {
    right: -3rem;
  }
}
@media screen and (max-width: 1600px) {
  .header {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1241px) {
  .header {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 500px) {
  .header {
    font-size: 1em;
    padding: 1rem 0;
  }
}
.header__wrapper {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__datos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__h1 {
  display: block;
}
@media screen and (max-width: 627px) {
  .header__h1 {
    display: none;
  }
}
.header__pais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 0 10%;
}
@media screen and (max-width: 627px) {
  .header__pais {
    display: none;
  }
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__a {
  margin: 0 0 0 2rem;
}

.blanca {
  position: relative;
  margin: 2rem 0 4rem;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .blanca {
    margin: 1rem 0 3rem;
  }
}
.blanca::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.7rem;
  background-color: var(--rosa);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 1rem 0 0 1rem;
}
@media screen and (max-width: 627px) {
  .blanca::after {
    width: 100%;
    height: 0.3rem;
    border-radius: 0;
  }
}
.blanca::before {
  content: "";
  display: block;
  width: 50%;
  height: 0.7rem;
  background-color: var(--rosa);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0 1rem 1rem 0;
}
@media screen and (max-width: 627px) {
  .blanca::before {
    width: 100%;
    height: 0.3rem;
    border-radius: 0;
  }
}
.blanca__move {
  width: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: move 6s linear infinite both;
          animation: move 6s linear infinite both;
}
.blanca__hgroup {
  width: 25%;
  padding: 2rem 0;
  font-family: "nighty_demoregular";
}
@media screen and (max-width: 627px) {
  .blanca__hgroup {
    padding: 1.2rem 0;
  }
}
.blanca__h2 {
  width: 100%;
  /*  background-color: aqua; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1rem, 5.3vw, 10rem);
  color: var(--rosa);
}
.blanca__div {
  width: calc( 100% / 3);
  /* background-color: crimson; */
  margin: 0 1px;
  text-align: center;
}
.blanca__punto {
  width: 1.4vw;
  height: 1.4vw;
  /* background-color: black; */
  margin: 0 0.5vw;
}

.amarillo {
  width: 100%;
  background-color: var(--amarillo);
}
.amarillo__wrapper {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  position: relative;
}
.amarillo__img {
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 2rem 2rem 0 0;
  -webkit-animation: imageFade 8s ease infinite;
          animation: imageFade 8s ease infinite;
}
@media screen and (max-width: 500px) {
  .amarillo__img {
    border-radius: 1rem 1rem 0 0;
  }
}
.amarillo__img.static {
  position: static;
}
.amarillo__img.noesalgohumano {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.amarillo__img.betterlife {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.amarillo__img.galaxy {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.amarillo__img.novelchampions {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.amarillo__img.kaseo {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.amarillo__img.almacorazon {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.amarillo__img.betterflakes {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.amarillo__img.silorepartescrece {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.amarillo__face {
  width: 14rem;
  position: absolute;
  right: -5rem;
  top: -2rem;
  color: black;
  z-index: 2;
  opacity: 1;
}
@media screen and (max-width: 1743px) {
  .amarillo__face {
    right: -3rem;
  }
}
@media screen and (max-width: 900px) {
  .amarillo__face {
    right: -1rem;
    width: 12rem;
  }
}
@media screen and (max-width: 600px) {
  .amarillo__face {
    right: -1rem;
    width: 9rem;
  }
}
@media screen and (max-width: 500px) {
  .amarillo__face {
    width: 6rem;
    right: 0;
  }
}
.amarillo .amarillo__face:hover {
  opacity: 0;
}
.amarillo__junto {
  position: relative;
}
.amarillo__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5rem;
  position: absolute;
  z-index: 4;
}
@media screen and (max-width: 500px) {
  .amarillo__ul {
    top: -2rem;
  }
}
.amarillo__dato {
  padding: 0.8rem 3rem 0.5rem 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: azure;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .amarillo__dato {
    font-size: 0.8em;
    padding: 0.6rem 3rem 0.2rem 1rem;
  }
}
.amarillo__dato.works {
  background-color: var(--morado);
}
.amarillo__dato.about {
  background-color: var(--rosa);
}
.amarillo__container {
  position: relative;
  top: -2.46rem;
}
@media screen and (max-width: 500px) {
  .amarillo__container {
    top: -0.2rem;
  }
}
.amarillo__bloque {
  padding: 2rem;
  border-radius: 0 2rem 0 0;
}
@media screen and (max-width: 500px) {
  .amarillo__bloque {
    border-radius: 0;
  }
}
.amarillo__bloque.works {
  background-color: var(--morado);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 4rem;
  width: 100%;
  display: none;
}
@media screen and (max-width: 500px) {
  .amarillo__bloque.works {
    gap: 3rem;
  }
}
.amarillo__bloque.works.activo {
  display: -ms-grid;
  display: grid;
}
@media screen and (max-width: 1352px) {
  .amarillo__bloque.works {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}
.amarillo__bloque.about {
  background-color: var(--rosa);
  padding: 4rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
}
.amarillo__bloque.about.activo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1100px) {
  .amarillo__bloque.about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .amarillo__bloque.about {
    padding: 1.6rem;
  }
}
.amarillo__bloque .about__p {
  width: 100%;
  line-height: 2rem;
  padding: 0.6rem;
  margin: 0 0 0 4rem;
  font-size: 1.4em;
  letter-spacing: 0.7px;
}
@media screen and (max-width: 1100px) {
  .amarillo__bloque .about__p {
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 500px) {
  .amarillo__bloque .about__p {
    font-size: 1em;
    padding: 0;
  }
}
.amarillo__bloque .about__a {
  font-family: "neue_montrealbold";
  color: var(--amarillo);
}
.amarillo__bloque .about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aqua;
  width: 100%;
  max-width: 40rem;
  min-width: 40%;
  border-radius: 4rem;
}
@media screen and (max-width: 500px) {
  .amarillo__bloque .about__img {
    display: none;
  }
}
.amarillo__bloque .works__section {
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.amarillo__bloque .works__section.activo {
  opacity: 1;
}
.amarillo__bloque .works__a {
  letter-spacing: 1.4px;
}
.amarillo__bloque .works__img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
@media (hover: none) {
  .amarillo__bloque .works__img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}
.amarillo__bloque .works__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.amarillo__bloque .works__h2 {
  margin: 1rem 0 0 0;
}
.footer {
  background-color: var(--amarillo);
}
.footer__wrapper {
  width: 100%;
  background-color: var(--azul);
  padding: 2rem 0;
  margin: -2.4rem 0;
}
@media screen and (max-width: 500px) {
  .footer__wrapper {
    margin: -0.2rem 0;
  }
}
.footer__work {
  text-transform: uppercase;
  font-size: 4em;
  text-align: right;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 1286px) {
  .footer__work {
    font-size: 3.6em;
  }
}
@media screen and (max-width: 420px) {
  .footer__work {
    font-size: 3em;
  }
}
.footer__linea {
  height: 2px;
  width: 90%;
  margin: auto;
  background-color: white;
}
.footer__idea {
  text-transform: uppercase;
  font-size: 4em;
  text-align: left;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 1286px) {
  .footer__idea {
    font-size: 3.6em;
  }
}
@media screen and (max-width: 420px) {
  .footer__idea {
    font-size: 3em;
  }
}
.footer__email {
  margin: 3rem;
  font-size: 10em;
}
@media screen and (max-width: 1286px) {
  .footer__email {
    font-size: 8em;
  }
}
@media screen and (max-width: 1020px) {
  .footer__email {
    font-size: 6em;
  }
}
@media screen and (max-width: 778px) {
  .footer__email {
    font-size: 4em;
  }
}
@media screen and (max-width: 540px) {
  .footer__email {
    font-size: 3em;
  }
}
@media screen and (max-width: 420px) {
  .footer__email {
    font-size: 2em;
  }
}
.footer__rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3rem 0 0;
}
.footer__rs {
  margin: 0.6rem 0 0 2rem;
}