
@keyframes move{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}

@keyframes imageFade{
    0%{opacity: 0;}
    6%{opacity: 1;}
    12%{opacity: 1;}
    18%{opacity: 0;}
    100%{opacity: 0;}
}