@import '_mixins', '_reset' , '_keyframes';

// .etiqueta{
//     border-radius: 1rem ;
//     border-radius: 1rem 1rem  0rem  0rem ;
// }
body{
    background-color: var(--amarillo);
}
.header{
    background-color: var(--amarillo);
    padding: 2rem 0;
    color: var(--rosa);
    &__wrapper{
        width: 90%;
        // background-color: aqua;
        margin: auto;
        @include flexible( row , nowrap , space-between , flex-start );
    }

    &__datos{
        width: 40%;
        // background-color: coral;

        @include flexible( row , nowrap , flex-start , flex-start );

    }
    &__h1{}
    &__pais{
        @include flexible( column , nowrap , flex-start , flex-start );
    
        margin: 0 0 0 10%;
        // background-color: deepskyblue;

    }
    &__p{

    }

    &__nav{
    
    }
    &__ul{

        @include flexible( row , nowrap , flex-start , flex-start );
    }
    &__li{}
    &__a{
        margin: 0 0 0 2rem;
    }
}

.blanca{
    
    position: relative;
    margin: 4rem 0;
    overflow: hidden;
    &::after{
        content: '';
        display: block;
        width: 50%;
        height: 1rem;
        background-color: var(--rosa);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        border-radius: 1rem;
    }
    &::before{
        content: '';
        display: block;
        width: 50%;
        height: 1rem;
        background-color: var(--rosa);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: 0 1rem 1rem 0; 
    }
    &__move{
        width: 200%;
        // background-color: red;
        @include flexible( row , nowrap , flex-start , center );
        // padding: 6rem 0;

        animation: move 6s linear infinite both;
    }
    &__hgroup{
        width: 25%;
        // background-color: deeppink;
        padding: 2rem 0;

        
        
    }
    &__h2{
        font-size: 9em;
        // background-color: cornflowerblue;
        color: var(--rosa);
        @include flexible( row , nowrap , center , center );
        
    }
    &__span{
        display: block;
        width: 10px;
        height: 10px;
        background-color: var(--rosa);
        border-radius: 50%;
        margin: 0 2rem;

        &.no{
            margin: 0 0 0 2rem;
        }
    }
}

.amarillo{
    width: 100%;
    background-color: var(--amarillo);

    &__wrapper{
        width: 90%;
        max-width: 1600px;
        margin: auto;
        position: relative;

    }

    &__img{
        // width: 1000px;
        // height: 1000px;
        // background-color: lightpink;
        position: absolute;
        top: 0;
        opacity: 0;
        border-radius: 2rem 2rem 0 0;

        &.static{
            position: static;
        }

       animation: imageFade 8s ease infinite;

        &.noesalgohumano{ 
            animation-delay: 0s;
        }
        &.betterlife{ 
            animation-delay: 1s;
        }
        &.galaxy{ 
            animation-delay: 2s;
        }
        &.novelchampions{ 
            animation-delay: 3s;
        }
        &.kaseo{ 
            animation-delay: 4s;
        }
        &.almacorazon{ 
            animation-delay: 5s;
        }
        &.betterflakes{ 
            animation-delay: 6s;
        }
        &.silorepartescrece{ 
            animation-delay: 7s;
        }
    }
    &__face{
        width: 14rem;
        position: absolute;
        right: -5rem;
        top: -2rem;
        color: black;
        z-index: 2;
    }

    &__ul{
        background-color: deeppink;
        @include flexible( row , nowrap , flex-start , center );
        margin-top: -3rem;
    }
    &__li{}
    &__dato{
        padding: 0.8rem 3rem 0.5rem 1rem;
        border-radius: 1rem 1rem 0 0;
        background-color: azure;

        &.works{
            background-color: var(--morado);
        }

        &.about{
            background-color: var(--rosa);
        }
    }

    &__container{
        position: relative;
    }
    &__bloque{
        padding: 2rem;
        &.works{
            background-color: var(--morado);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax( 20rem,  1fr ));
            gap: 6rem;
            // position: absolute;
            // top: 0;
            // left: 0;
            width: 100%;
            &.oculto{
                display: none;
            }
            
           
           
        }

        &.about{
            background-color: var(--rosa);
            @include flexible( row , nowrap , space-between , flex-start );

            display: none;
            &.activo{
                display: flex;
            }


            
        }
        .about__p{
            width: 50%;
            line-height: 1.4rem;
            padding: 2rem;

        }
        .about__img{
            background-color: aqua;
            width: 50%;
            height: 30rem;
        }

        .works__section{
            // opacity: 0;
            // &.activo{
            //     opacity: 1;
            // }
            
        }
        .works__a{}
        .works__img{
            // width: 20rem;
            // height: 20rem;
            // background-color: black;
           
        }
        .works__h2{
            margin: 1rem 0 0 0;
        }
        .works__p{}
    }

}

.footer{
    background-color: var(--amarillo);
    &__wrapper{
       width: 100%;
        background-color: var(--azul);
        padding: 2rem 0;

    }
    &__ready{}
    &__work{
        text-transform: uppercase;
        font-size: 4em;
        text-align: right;
        width: 90%;
        margin: auto;
        
    }
    &__linea{
        height: 2px;
        width: 90%;
        margin: auto;
        background-color: white;

    }
    &__idea{
        text-transform: uppercase;
        font-size: 4em;
        text-align: left;
        width: 90%;
        margin: auto;
    }
    &__email{
       margin: 3rem;
       width: 20%;
       font-size: 10em;
       hyphens: auto;
       background-color: aquamarine;
    }
    &__rrss{
        @include flexible( row , nowrap , flex-end , center );
        margin: 0 3rem 0 0;
    }
    &__rs{
        margin: 0 1rem;
    }
    &__a{}
}